# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
.venv_geodata/
venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Editors
.idea/
.vscode/
*.swp
*.swo

# Temporales
*.tmp
*.log
*.bak

# Entornos
.env
.env.*
secrets.*
credentials.*
